@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

h1,h3 {
    font-family: 'Oswald', sans-serif;
}
.hading{
    margin-top: 5%;
    margin-bottom: 5%;
}
.homediv{
    position: relative;
}

  .nav-link{
    position: relative;
    font-size: 1rem;
    display: inline-block;
  }
  @media (orientation: landscape) {
    body {
      grid-auto-flow: column;
    }
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  .hading{
    overflow: hidden;
    /* border-right: .15em solid orange; */
    white-space: nowrap;
    animation: typing 3s steps(20, end) forwards;
    animation-timing-function: ease-in-out;
    font-size: 1.6rem;
    width: 0;
  }

