
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@1,200&display=swap');
.Foter{
    height: 3rem;
    padding-bottom: 4rem;
    padding-top: 1rem;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.Foter p{
    display: block;
    box-sizing: border-box;
    margin-left: 3rem;
}
.Foter p a{
    font-family: 'Poppins', sans-serif;
}
@media only screen and (max-width: 853px){
    .Foter{
        padding-bottom: 8rem;
    }
}