@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lobster&display=swap');
/* *{
    
    font-family: 'Lobster', cursive;
} */

.nav-link {
    margin: 0;
    padding:0;
}

.nav-link a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size:0.8rem;
    font-weight: 400;
    align-content: center;
}



.nav-link a{
    display: flex;
    flex-shrink: 1;
}
.under-nav{
    background-color: rgb(113, 234, 238);
    position: absolute;
    top: auto;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
.under-nav .container-fluid{
    justify-content: center;
} 
.down-nav-itams li{
    margin: 0 1rem;
}

.under-nav{
    display: none;
}
.colaction{
    display: flex;
    justify-content: center;
}
.down-nav-itams li a{
    color: black;
}
p{
    margin: 0;
}






@media only screen and (max-width: 853px){
 
    .under-nav{
        display: block;
        position: fixed;
    }
  
   
}