@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lobster&display=swap');
/* *{
    
    font-family: 'Lobster', cursive;
} */
.colorchang-nave{
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    transition: 0.5s;
    z-index: 1;
}
.dont-colorchang-nave{
    background-color: white;

}
.navbar-brand{
    height: 50px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#brand-img{
    height: inherit;
    border-right: 1px solid black;
    padding-right: 10px;
}
.uper{
    /* background-color:rgba(136, 125, 119, 0.8); */
    height: 60px;

}
.nav-link {
    margin: 0;
    padding:0;
}
.nav-link a::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  .nav-link a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .nav-link a::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: rgba(18, 149, 149, 0.75);;
    z-index: 1;
    transition: transform .3s ease;
  }

.nav-link a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size:0.8rem;
    font-weight: 600;
    align-content: center;
}
.log-in-pannel{
    width: auto;
    margin-right: 1rem;   
}
h5{
    margin: 0.4rem 0;
    font-weight: bold;
}
.btn:hover{
    text-decoration: none;
    border: none;
}
.btn {
    border: none;
}
.nav-link a{
    display: flex;
    flex-shrink: 1;
}



p{
    margin: 0;
}
.responsiv-navbar{
    display: none;
    position: relative;
    padding: 0;
}



@media only screen and (max-width: 853px){
    .uper-nav-manu{
      display: none;
    }
    .log-in-pannel{
        display: none;
    }
    
   
}