.explor{
    max-width: 640px;
    width: inherit;
}
.exppool{
    width: 70%;
}
.up-button{
    
    border: 2px solid black ;
    border-radius: 45%;
    height: min-content;
    padding: 5px;
    position:fixed;
    bottom: 9rem;
}
.up-button-con{
    display: flex;
    justify-content:flex-start;
    margin-bottom: 3rem;
    margin-left: 2rem;
}



.vert-move {
    -webkit-animation: mover 0.5s infinite  alternate;
    animation: mover 0.5s infinite  alternate;

}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
