
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Bebas+Neue&family=Montserrat:wght@100&family=Poppins:ital,wght@1,200&display=swap');
.explor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin: 2rem auto;
    overflow: hidden;
    /* border-right: .15em solid orange; */
    white-space: nowrap; 
    animation: typing 3s steps(20, end) forwards;
    animation-timing-function: ease-in-out;
    /* font-size: 1.6rem; */
    width: 0;
}
.explor p{
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    color: #878481;
    font-size: 50px;
}
.explor h1{
    font-size: 5rem;
}
.lt-btn{
    font-family: 'Roboto', sans-serif;
    margin: 0.5rem auto;
    background-color: rgba(13, 236, 236, 0.795);;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
}
.it-btn:hover{
    color: wheat;
    background-color: aqua;
}
.lt h1{
    margin: 3rem;
    font-size: 50px;
}
