.con-modal-container{
    position: fixed;
    background-color: antiquewhite;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    z-index: 1;
    
}
.con-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    border-radius: 10px;
    box-shadow: 0 .2rem 1.27rem 0 rgb(17, 17, 20)!important
}

.con-modal h1{
    margin-top: 2rem;
}
.con-div{
    height: inherit;
    display: flex;
    width: 50vw;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    border-radius: 10px;
}
.con-div:hover{
    background-color:slategray;
    transition: 0.5s ease-in-out;
    color: white;
}
.sub-type {
    width: inherit;
    height:inherit;
    margin: 4rem auto;
}
.on-img{
    padding: 1rem;
    background-color: rgb(73 163 173);
    margin: 1rem;
    border-radius: 10px;
}
.con-div .col-4{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: x-large;
}
.con-modal button, .con-modal a{
    border-radius: 11px;
    height: 30px;
    background-color: rgb(73 163 173);
    font-size: 10px;
    height: inherit;
    border: none;
    margin-bottom: 2rem;
}
.con-modal a{
    font-family: sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 10px;
}
.con-modal button:hover,.con-modal a:hover {
    background-color:slategray;
    transition: 0.2s ease-in-out;
    color: white;
}
.butt{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.check-input{
    height: 1.5rem;
    width: 1.5rem;
    margin: auto 2rem;
}