.backround-img {
  position: absolute;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
    right: 0;
    height: 100%;
    width: 100%;
    /* background: transparent; */
    opacity: 0.7;
}
.back-img-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: transparent;
z-index: -1;
}
.back-img-container div{
  position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(181deg, #5e494900, white);
    z-index: -1;
}
.back-long-img-container{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: inherit;
}
.back-long-img-container div{
  position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(181deg, #5e494900, white);
}
.backround-log-img{
  height: initial;
  width: 100%;
}

